body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

// Breakpoint at mobile landscape
@media only screen and (min-width: 640px) {}
// Breakpoint at tablet
@media only screen and (min-width: 768px) {}
// Breakpoint at tablet landscape
@media only screen and (min-width: 1024px) {}
// Breakpoint at desktop
@media only screen and (min-width: 1224px) {}

h1 {
	display: inline-block;
	margin: auto;
}

p {
	display: inline-block;
	margin: auto;
}

#hamburger {
	position: absolute;
	top: 50px;
	right: 50px;
	font-size: 50px;
}

#sidebar {
	position: absolute;
	display: inline-block;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	overflow: hidden;
	background: linear-gradient(to right, rgba(200, 200, 200, 1), rgba(100, 100, 100, 0));
	transition: all .5s ease;
}

.expanded {
	width: 250px !important;
}

#sidebar * {
	display: block;
	margin: 5px 0 0 5px;
}

.slide, .card {
	width: 0;
	height: 0;
	display: grid;
	overflow: hidden;
	transition: all .5s ease;
}

.active {
	width: 100vw;
	height: 100vh;
	overflow: unset;
}
